.rounded-bg {
  color: #282c34;
  background-color: white;
  border-radius: 2.5em;
  font-weight: 600;
}
.height-45 {
  height: 45vh;
}
.blue-bg {
  background-color: #61dafb;
  color: white;
}
.blue {
  color: #61dafb;
}
li {
  list-style-type: none;
}
hr {
  border-top: 1px dotted white;
}
