body {
  font: {
    size: 1em;
    family: "Nunito Sans", helvetica, arial, sans-serif;
    weight: 600;
  }

  text-align: center;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: #282c34;
}

header {
  border-bottom: 1px dotted rgb(255, 255, 255);
  margin-bottom: 2em;
}

.blue-bg {
  background-color: #61dafb;
  color: white;
}
.blue {
  color: #61dafb;
}
.black-bg {
  background-color: black;
}
.black {
  color: black;
}

@media screen and (max-width: 520px) {
  .App {
    font-size: 0.85em;
  }
}