
body {
  font: {
    size: 1.1em;
    family: "Nunito Sans", helvetica, arial, sans-serif;
    weight: 600;
  }
  text-align: center;
  -webkit-font-smoothing: antialiased;
  color: #dde4e9;
  background-color:#212121 ;
}
a:hover {
  color: rgb(47, 155, 255);
  text-decoration: underline;
}

.App {
  padding: 0;
}

// Navigation

.main-nav {
  padding-left: 0;
}
.navlink {
  border-bottom: 3px solid;
  padding-left: 0;
}
.navigation {
  margin: 15px 0 15px 0;

  a {
    color:#dbdfe7;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;

    cursor: pointer;
    display: inline-block;

    &:hover {
      transform: scale(1.2);
      color:white;
    }
    &.active {
      color: rgb(47, 155, 255);
      font-size: larger;
    }
  }
}

header {
  margin-bottom: 1em;
  width: 100%;
}

ul {
  list-style-type: none;
  padding-left: 0px;

}
li{
  padding-bottom: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.section-1, .section-4 {
  background-color: #dbdbdb;
  text-align: center;
  color: black;
  padding-bottom: 100px;
  padding-top: 30px;
  border-radius: 15px;
}
.section-2 {
  background-image: linear-gradient(to bottom, rgba(0, 87, 168, 0.5), #212121);
  color: rgb(236, 236, 236);
  border-radius: 15px;
  padding-top: 30px;
  padding-bottom: 120px;
  margin-top: -80px;
}
.section-3 {
  background-image: linear-gradient(to bottom, rgba(0, 87, 168, 0.5), #212121);
  color: rgb(236, 236, 236);
  border-radius: 15px;
  padding-top: 30px;
  padding-bottom: 120px;
  margin-top: -80px;
}
.section-4 {
  margin-top: -40px;
}
.section-5, .section-6 {
  background-image: linear-gradient(to bottom, rgba(0, 87, 168, 0.5), #212121);
  margin-top: -40px;
  border-radius: 15px;
}
.section-6 {
  background-image: linear-gradient(to bottom, rgba(0, 87, 168, 0.5), #212121);
}

// Projects page
.projects-main {
  border-radius: 15px;
}
.project-name {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}
.project-description {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding-bottom: 20px;
}
.github-link {
  display: inline-block;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding-bottom: 15px;
}
.github-icon {
  margin-top: 25px;
  max-width: 50px;
}
.repo-image {
  width: 100%;
  height: auto;
  max-width: 330px;
  border-radius: 15px;
}
.project-card {
  background-image: linear-gradient(to bottom, rgba(0, 87, 168, 0.5), #212121);
  padding-top: 15px;
  margin-bottom: 30px;
  border-radius: 15px;
}
.project-card:hover {
  transform: scale(1.05);
  z-index: 1;
  background-image: linear-gradient(to bottom, rgb(0, 87, 168), #212121);
}

.submit-button {
  margin: 30px 0;
  padding: 10px 30px;
  border-radius: 25px;
  border: 2px solid white;
  &:hover {
    transform: scale(1.1);
    color:white;
    background-image: linear-gradient(to bottom, rgb(0, 87, 168), #212121);
  }
}

// Fadding effect
.fade-in-4s {
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
  -o-animation: fadeIn 4s;
  -ms-animation: fadeIn 4s;
}
.fade-in-1s {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}
